# --- Perfil ---
SPRING_PROFILES_ACTIVE=local

# --- Logging ---
LOG_PATH=logs

# --- Cliente: aprendizaje-postulacion ---
APRENDIZAJE_POSTULACION_SERVICE_URL=http://localhost:81
CONNECT_TIMEOUT_MS=30000
READ_TIMEOUT_MS=120000
RESPONSE_TIMEOUT_MS=120000

# --- Resilience4j ---
TIME_LIMITER_TIMEOUT_DURATION=120s
